__pycache__/
*.py[cod]
.DS_Store

.venv/
venv/
env/

.streamlit/secrets.toml

confusion_matrix.png
evaluation_report.txt
pneumonia_model.keras

dataset/chest_xray/**/*.jpg
dataset/chest_xray/**/*.jpeg
dataset/chest_xray/**/*.png

